<html>
    <head>
        <title>НУ ШО, А?</title>
    </head>
    <body>
        <div>
            <h1><a href="/">НУ ШО, А?</a></h1>
        </div>

        <div>
            <p>published: 04.10.2018, 13:45</p>
            <h2><a href="">НАЧНЁМ ПОНЕМНОГУ</a></h2>
            <p>ВИТАЛЯ МЫ КОНЕЧНО С ТОБОЙ ДРУЗЬЯ И ВСЕ ДЕЛА, НО ТЫ ПРО ДЕДЛАЙН ТО НЕ ЗАБЫВАЙ</p>
        </div>

        <div>
            <p>published: 104.10.2018, 13:47</p>
            <h2><a href="">ДУМАЛ ЭТО ВСЁ?</a></h2>
            <p>ГДЕ КОД ВИТАЛЯ?????? ГДЕ КОД????</p>
        </div>
    </body>
</html>
